<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>About me</h2>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor voluptate voluptates, officiis porro neque unde autem, perspiciatis tenetur ratione veritatis libero doloribus, amet consequuntur sequi accusantium! Odio saepe nam error.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cum fugiat numquam veritatis ab fuga vitae quia impedit quis facilis sed blanditiis reprehenderit hic dolor tenetur corrupti eligendi, repellendus optio!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel praesentium recusandae aliquid rerum ullam ipsam illo vero dolore voluptas ratione quaerat necessitatibus porro iure harum, molestiae modi reprehenderit. Obcaecati.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sit maxime aspernatur fugit et eos aliquid possimus amet. Voluptate accusantium, quod ad beatae quaerat molestiae maiores iusto iure repellendus assumenda.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis quisquam repellendus laudantium voluptas ut? Tenetur atque aliquid error tempore nostrum fuga voluptatibus. Facilis, cupiditate molestiae harum iure asperiores quia adipisci?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum, explicabo nisi, ut laudantium fugiat veniam accusamus necessitatibus nostrum iusto vitae voluptatum nobis! Quidem, libero eligendi quasi minima debitis accusantium ipsam.
    </p>
</article>